th { font-size: 1.5em!important;
		text-align: center!important;
} 

td { font-size: 1.2em!important; 
		text-align: center!important;
		padding: 5px!important;
}

.input {
	display: none!important;
}

.input_prompt {
	display: none!important;
}

.rendered_html ul {
	margin-top: 0!important;
}

.rendered_html ol {
	margin-top: 0!important;
}

.output_png {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

